<header>
    <h4>Angular | Signal Based ContentChild</h4>
    <p>Learn how to use <strong>ContentChild</strong> in Angular</p>
    <p>Unlike the old <strong>ContentChild</strong>, you don’t need lifecycle hooks to know when it’s ready — the signal always reflects the current value.</p>
</header>

<section>
    <h4>Getting access to project content from the parent and adding in a custom title</h4>
    <div class="section-wrapper">
        <app-signal-contentchild-child-example>
            <!-- Projected element with #title -->
            <h4 #title>Custom Title</h4>
            <p>Some details about this panel.</p>
        </app-signal-contentchild-child-example>
    </div>
</section>


<section>
    <h4>Reading Projected Input Value || updating it from the child (see child childComponent)</h4>
    <p>Parent projects an input with a ref of <strong>#userInput</strong> inside childComponent.</p>
    <p>Child grabs it <strong>with contentChild('userInput')</strong>.</p>
    <p>After render, child reads the starting value of the input and shows it below.</p>
    <div class="section-wrapper">
        <app-signal-contentchild-child-second-example>
            <input #userInput type="text" value="Hello World" />
        </app-signal-contentchild-child-second-example>
    </div>
</section>
