<header>
    <h4>Angular | Angular ng-content</h4>
    <p>Learn how to use ng-content in Angular to project content into child components.</p>
</header>

<!--Useful when you want to write markup in your child component from your parent component-->
<!-- You can use it with select to place content into seperate ng-contents within the child-->
<app-ng-content-example-child>
    <div>ng-content: {{article?.title}}</div>
    <h3 another-title>ng-content: {{article?.title}}</h3>
</app-ng-content-example-child>
<br />
<app-ng-content-example-child>
    <div>ng-content: {{article?.title}}</div>
    <h3 another-title>ng-content: {{article?.title}}</h3>
</app-ng-content-example-child>
<br /><br />
<hr>