<header>
    <h4>Angular | Angular ngTemplateOutlet</h4>
    <p>Learn how to use ngTemplateOutlet in Angular</p>
</header>

<ng-template #loadingTemplate>
    <div>Loading...</div>
</ng-template>

<!--using let-article="article" is how we pass properties to the template-->
<ng-template #articleTemplate let-article="article">
    <div>{{article?.title}}</div>
</ng-template>

<ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
<ng-container
  *ngTemplateOutlet="articleTemplate; context: { article: article }">
</ng-container>

<br /><br />
<hr>