<header>
    <h4>Angular ElementRef | Angular ViewChildren</h4>
    <p>Learn how to access elements with <strong>ElementRef</strong>, <strong>ViewChildren</strong> in Angular.</p>
</header>

<section >
    <h4>Check the browser console for a represtation of what ViewChildren does</h4>
    <button #button>Increment Count</button>
    <button #button>Decrement Count</button>
</section>

<section>
    <h4>Check the browser console for a represtation of what ViewChildren does</h4>
    <app-child-example></app-child-example>
</section>
<section>
    <app-child-example></app-child-example>
</section>
<section>
    <app-child-example></app-child-example>
</section>
