<nav>
  <div class="container">
    <div class="wrapper">
      <h1>Playground</h1>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ViewChild</a></li>
        <li><a routerLink="/view-children" routerLinkActive="active">ViewChildren</a></li>
        <li><a routerLink="/ng-content" routerLinkActive="active">NgContent</a></li>
        <li><a routerLink="/ng-container" routerLinkActive="active">NgContainer</a></li>
        <li><a routerLink="/ng-template" routerLinkActive="active">NgTemplate</a></li>
        <li><a routerLink="/ng-templateoutlet" routerLinkActive="active">NgTemplateOutlet</a></li>
        <li><a routerLink="/signal-viewchild" routerLinkActive="active">ViewChild()</a></li>
        <li><a routerLink="/signal-viewchildren" routerLinkActive="active">ViewChildren()</a></li>
        <li><a routerLink="/signal-contentchild" routerLinkActive="active">ContentChild()</a></li>
      </ul>
    </div>
  </div>
</nav>

<section>
  <div class="container">
    <router-outlet />
  </div>
</section>