<h4>Angular ElementRef | Angular ViewChild</h4>
<p>Learn how to access elements with ElementRef, ViewChild in Angular.</p>
<hr>

<button (click)="incrementCount()" #button>Increment Count</button>
<button>Decrement Count</button>
<app-accessing-elements-child></app-accessing-elements-child>

<hr>

<h4>Angular ElementRef | Angular ViewChildren</h4>
<p>Learn how to access elements with ElementRef, ViewChildren in Angular.</p>

<app-accessing-elements-child></app-accessing-elements-child>
<app-accessing-elements-child></app-accessing-elements-child>
<app-accessing-elements-child></app-accessing-elements-child>