<header>
    <h4>Angular ElementRef | Angular ViewChild</h4>
    <p>Learn how to access elements with <strong>ElementRef</strong>, <strong>ViewChild</strong> in Angular.</p>
</header>

<section>
    <h4>Buttons showing the power of ViewChild</h4>
    <button (click)="incrementCount()" #button>Increment Count</button>
    <button (click)="decrementCount()">Decrement Count</button>
</section>

<section>
    <h4>Child Component to reflect button changes</h4>
    <app-child-example></app-child-example>
</section>